<div class="login-page">
    {{#> Layout}}
        {{#> AuthForm className="login-page__form"}}
            <div>
                {{> Input placeholder="example@yandex.ru" fieldName="login" labelText="Логин" }}
                {{> Input fieldName="password" labelText="Пароль"}}
            </div>
            <div class="login-page__action-buttons">
                {{> Button label="Войти" type="primary" navTo="chats" className=""}}
                {{> Button label="Нет аккаунта?" type="link" navTo="signUp" className=""}}
            </div>
        {{/AuthForm}}
    {{/Layout}}
</div>