@import "/src/assets//styles/common.scss";
@import "/src/assets//styles/mixins.scss";

.form {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $spacing-xl;

        @include font($font-size-title, $font-weight-normal)
    }
}
