@import "/src/assets/styles/colors";
@import "/src/assets/styles/common";
@import "/src/assets/styles/mixins";

.layout {
    display: flex;
    flex: auto;
    min-height: 0;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;

    @include font(16px, $font-weight-bold, $text-dark);

    &__row {
        flex-direction: row;
    }
}
