.add-chat-modal {
	&__container {
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-width: 350px;
		min-height: 250px;
        border-radius: 6px;
        padding: 24px;
	}
	&__content {
        width: 100%;
	}
	&__actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
	}
}
