{{#> Modal show=isOpenDialogAddChat onClick=onCancel }}
    <div class="add-chat-modal__container">
        {{#> Form overlayClassName="add-chat-modal__content" title="Добавление чата" className="add-chat-modal__form"}}
            {{{InputField 
                ref="title"
                name="title"
                type="text"
                className=""
                placeholder="Введите название"
                validate=validate.title
            }}}
            {{{ ErrorLine errorText=errorText ref="errorText" }}}
            <div class="add-chat-modal__actions">
                {{{Button label="Добавить" type="submit" onClick=onOk theme="primary" className="" }}}
                {{{Button label="Отмена" theme="link" onClick=onCancel className="" }}}
            </div>
        {{/Form}}
    </div>
{{/Modal}}
