<div>
  <div>
    Profile page
  </div>
    {{> Button label="chats" type="link" navTo="chats"}}
    {{> Button label="login" type="link" navTo="login"}}
    {{> Button label="signUp" type="link" navTo="signUp"}}
    {{> Button label="error" type="link" navTo="error"}}
</div>