@import '/src/assets/styles/colors';
@import '/src/assets/styles/common';
@import '/src/assets/styles/mixins';

.profile-page {
	display: flex;
	flex-direction: row;
	height: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		margin: auto;
	}

	&__back-button {
		height: 100%;
		border-right: 1px solid $grey-dark;
		width: 64px;
	}

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 10px;

		:last-child {
			div {
				border-bottom: none !important;
			}
		}
	}

	&__avatar {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__actions {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		:last-child {
			border-bottom: none !important;
		}
	}

	&__action-button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0;
		border-bottom: 1px solid $grey-dark;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		&__red {
			color: red;
		}
	}

	&__display-name {
		width: min-content;
		margin: auto;
	}
}
