<div class='chat-header'>
	<div class='chat-header__user-meta'>
		{{{Avatar imageSrc=avatar disabled=true className='chat-header__user-icon'}}}
		<div class='chat-header__user-name'>{{title}}</div>
	</div>
	<div class='chat-header__actions'>
		{{{IconButton icon='more-icon' type='primary' className='chat-header__button' onClick=onActionsClick}}}
		{{{ ChatPopover }}}
	</div>
</div>