<div class="change-password-page">
    {{#> Sider className="change-password-page__back-button"}}
      {{> IconButton navTo="profile" imageSrc="/src/assets/images/arrow-blue.svg"}}
    {{/Sider}}
    {{#> Layout className="change-password-page__container"}}
       {{#> Form className="change-password-page__form-container" overlayClassName="change-password-page__form-overlay"}}
        <div class="change-password-page__form-data">
          <div class="change-password-page__avatar">
            {{> Avatar imageSrc="/src/assets/images/unknown-image.svg" label="Поменять аватар" name="avatar" className=""}}
          </div>
          <div class="change-password-page__fields">
              {{> EditableField name="oldPassword" label="Старый пароль" value="**********" type="password" className=""}}
              {{> EditableField name="newPassword" label="Новый пароль" type="password" value="**********" className=""}}
              {{> EditableField label="Повторите новый пароль" type="password" value="**********"className=""}}
          </div>
        </div>
        <div class="change-password-page__actions">
            {{> Button label="Сохранить" navTo="profile" type="primary" className="change-password-page__action-button"}}
        </div>
       {{/Form}}
    {{/Layout}}
</div>
