@import "/src/assets/styles/colors";
@import "/src/assets/styles/common";
@import "/src/assets/styles/mixins";

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 100%;
  max-width: 60px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    background: $main-blue;
    transition: $common-transition;
  }
}
