<div> 
    {{#> Layout}}
        {{#> Header}}
            <span>Header</span>
        {{/Header}}
        <div>Sign up page</div>
        {{#> Footer}}
            <span>Footer</span>
        {{/Footer}}
    {{/Layout}}
    {{> Button label="chats" type="link" navTo="chats"}}
    {{> Button label="profile" type="link" navTo="profile"}}
    {{> Button label="login" type="link" navTo="login"}}
    {{> Button label="error" type="link" navTo="error"}}
</div>