@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/common.scss";

.sign-up {
  &__form-overlay {
    margin-top: 5%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 615px;
  }

  &__action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
}
