$main-blue: #3369f3;
$dark-blue: #0632a3;
$text-second: #999999;
$text-dark: #1e1e1e;
$white: #fff;
$grey-dark: #eaeaea;
$grey: #fbfbfb;
$black: #000000;
$input-background-grey: #efefef;
$blue-hover: #e4edfd;
$error-text: #e60d0d;
