@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/common.scss";

@mixin font($color: $main-blue, $size: $font-size-normal, $weight: $font-weight-normal, $family: "Inter") {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}