@import '/src/assets/styles/colors.scss';
@import '/src/assets/styles/common.scss';
@import '/src/assets/styles/mixins.scss';

.message {
	@include font(12px, $font-weight-normal, $text-dark);

	display: flex;
	margin: 10px 0px;
	background: $background-light;
	border-radius: 12px;
	padding: 11px;
	width: fit-content;
	max-width: 402px;
	flex-direction: row;
	position: relative;

	&__user-sender {
		text-align: end;
		border-bottom-right-radius: 0px;
		margin-right: 0px;
		margin-left: auto;
		background-color: $blue-hover;
	}

	&__user-recipient {
		text-align: start;
		border-bottom-left-radius: 0px;
		margin-right: auto;
		margin-left: 0px;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: wrap;
		text-align: start;
	}

	&__meta-info {
		gap: 4px;
		float: right;
		display: flex;
		width: -webkit-fill-available;
		height: fit-content;
        justify-content: flex-end;
		@include font(9px, 500, $text-second);

		&__checked {
			@include font(9px, 500);
		}
	}
}
