<div>
    <div>Error page</div>
    {{> Button label="chats" type="link" navTo="chats"}}
    {{> Button label="profile" type="link" navTo="profile"}}
    {{> Button label="signUp" type="link" navTo="signUp"}}
    {{> Button label="login" type="link" navTo="login"}}
</div>
