@import "/src/assets/styles/colors";
@import "/src/assets/styles/common";
@import "/src/assets/styles/mixins";

.error-page {
  height: 100%;

  &__layout {
    height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    @include font(40px, $font-weight-normal, $text-dark);
  }

  &__subTitle {
    @include font(20px, $font-weight-normal, $text-dark);

    margin-bottom: 40px;
  }
}
